/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  overflow-x:hidden ;
}

.homepage_bg{
  background-image: url("./assets/Images/bghome.svg");
}

.lable-style {
  @apply text-sm text-richblack-5;
}
.form-style {
  @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}

.border-style{
  border: 1px solid var(--Rich-Black-600, #424854);
}

.spinner {
   position: relative;
   width: 56px;
   height: 56px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.spinner::before,
.spinner::after {
   border: 6.7px solid #dbdbe3;
   border-radius: 50%;
   position: absolute;
   content: '';
   display: block;
}

.spinner::before {
   width: 33.6px;
   height: 33.6px;
   border-bottom-color: transparent;
   border-left-color: transparent;
   animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner::after {
   animation: spinner-1o3y8q 0.5s infinite linear;
   height: 56px;
   width: 56px;
   border-right-color: transparent;
   border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
   to {
      transform: rotate(360deg);
   }
}